h1 {
    font-family: mukta mahee, sans-serif;
    color: #09eb69;
}

span {
  color: white;
}

h2 {
    font-family: mukta mahee, sans-serif;
    color: #000000;
}

div {
  height: auto;
}

body {
  background-color: black;
  text-align: center;
  font-family: mukta mahee, sans-serif;
  color: #333;
}
  
  ul {
    list-style-type: none;
    margin: 12px;
    padding: 12px;
    font-size: large;
    font-family: Arial, mukta mahee, sans-serif;
    overflow: hidden;
    background-color: #9a998c;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #000000;
  }
  
  .active {
    background-color: #000000 rgb(231, 216, 201); 
  }
  
  .column {
    float: left;
    width: 19%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  @media screen and (max-width: 1020px) {
    .column {
      width: 47.5%;
    }
  }
  
  ul {
    list-style-type: none;
    margin: 12px;
    padding: 12px;
    font-size: large;
    font-family: Arial, mukta mahee, sans-serif;
    overflow: hidden;
    background-color: #000000;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #09eb69;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #000000;
  }
  
  .active {
    background-color: #000000 rgb(231, 216, 201); 
  }
  
  .column {
    float: left;
    width: 19%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #footer-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
  }
  @media screen and (max-width: 500px) {
    #footer-list {flex-wrap: wrap;}
  }
  a:hover {
    cursor: pointer;
  }
  @media screen and (max-width: 800px) {
    .column {
      width: 47.5%;
    }
  }